<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.refineriaweb.app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".presentation.foundation.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".presentation.sections.LaunchActivity_"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.sections.user_demo.user.HostUserActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.sections.user_demo.users.HostUsersActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

    </application>

</manifest>
